
.about-image{
    
    width: 100%;
    height: 100vh;
  }


/* About */
.about-inner{
    background: url('../public/background5.png') no-repeat center top/cover;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .about-text{
    
    margin-top: 15rem;
    margin-left: 10rem;
    margin-right: 15rem;
    color: var(--text-color);
  }
  .map-inner{
    height: 100vh;
    background-color: white;
  }
  
  .paragraph-about{
    font-weight: 300;
    line-height: 2rem;
    word-spacing: 5px;
    animation: para 3s 1;
    margin-bottom: 2rem;
  }

  .about-text h3{
    color: var(--dif-color);
  }
  .large-about{
    padding-bottom: 2rem;
    animation: para 2s 1; 
  }
  .large-about::first-letter{
    color: var(--dif-color);
    padding-bottom: 2rem;
  }
  
  
  .marker-box{
    color: var(--text-color);
    font-size: 1rem;
    padding-left: 20px;
    padding-bottom: 14px;
    background-color: var(--light-dark);
    width: 330px;
    border-bottom-right-radius: 18px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    animation: para 3s 1;
    animation-duration: 3000ms;
  
  }
  .marker-name {
    display: flex;
    padding-top: 1rem;
    letter-spacing: 1.5px;
    font-weight: 300;
  }
  .marker-name i{
    color: var(--dif-color);
    font-size: 1.4rem;
  }

  .contact-actions{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    animation: para 4s 1;
    animation-duration: 3400ms;

  }
  
  .contact-button{
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .about-icon{
    margin-top: 4rem;
    margin-right: 5rem;
    color: white;
  }


  .about-icon i{
    font-size: 5rem;
    color: white;
  }
  .about-icon i:hover{
    font-size: 5rem;
    color: var(--dif-color);
  }
  .fa-paper-plane{
    margin-right: 3rem;
  }

  .icon-about {
    font-size: 4rem;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 3.5rem;
  }
  .about-icon-title{
    font-size: 2rem;
    font-weight: 300;
    text-align: center;


  }
  

  
@media (max-width: 768px){

    .about-inner{
      grid-template-columns: repeat(1,1fr);
      overflow-x: scroll;
    }
    .map-inner{
      display: none;
    }
    .about-text{
      margin: 30% 5%;
    }
    .large-about{
      font-size: 3.2rem;
    }
    .paragraph-about{
      font-size: 1.3rem;
    }
  
    .about-inner{
      line-height: 2.5rem;
    }
    .map-inner{
      width: 5rem;
    }  
    .contact-form input, textarea {
      width: 90%;
    }
    .contact-form textarea {
      width: 90%;
    }

    .skills-info{
      line-height: 1.1rem;
    }
    .contact-button{
      margin-left: 1rem;
    }
  
  }
  @media (min-width: 480px){
  
    .skills-info{
      line-height: 1rem;
    }
    
  }
  