:root {
    --dark: #343a40;
    --light-dark: #4a5157;
    --text-color:#f8f9fa;
    --dark-color: #212529;
    --dif-color: #62CBE7;
    --logo-color: #161616;
    --light-color: #F7FFF7;
    --danger-color: #dc3545;
    --success-color: #28a745;
  }
