
:root {
    --dark: #343a40;
    --light-dark: #4a5157;
    --text-color:#f8f9fa;
    --dark-color: #212529;
    --dif-color: #62CBE7;
    --logo-color: #161616;
    --light-color: #F7FFF7;
    --danger-color: #dc3545;
    --success-color: #28a745;
  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: calc(10px + 1vw);
    line-height: 1.6;
    background-color: #fff;
    color: rgb(31, 31, 31);
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    width: 100%;
  }


/* Utilities */
.large, .large-name, .large-skill, .large-about{
  font-size: calc(22px + 3vw);
  font-weight: bold;
  line-height: 1;
  margin-bottom: 1rem;
}

.large::first-letter {
  color: var(--dif-color);
}


  /* Overlay */
.dark-overlay {
  background-color: rgba(59, 36, 16, 0.205);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.homepage {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

/* Logo */

.logo{
  font-size: 1vw;
  line-height: 90px;
}
.robert-logo{
  width: 3.5rem;
  height: auto;
  padding: 8px;
  padding-bottom: 13px;
  background-color: #161616;
  cursor: pointer;
}


/* Animation */

@keyframes text {
  0%{
    color: black;
    margin-bottom: -30px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -30px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -30px;
  }
}

@keyframes logo{

  from {
    opacity: 0;
    transform: rotate(31.02deg);
  }
  
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
  
}


@keyframes fade {
  0%{
    color: #f7f7f7;
  }

  85%{
    color: var(--primary-color);
  }
}

/* Paragraph */
@keyframes fade-button {
  0%{
    color:  var(--primary-color);
    border: 3px solid #f7f7f7;
    box-shadow: 0 0 1px #757f85b3;
  }

  85%{
    color: #f7f7f7;
    border: 3px solid  var(--primary-color);
    box-shadow: 0 0 1px #757f85b3;
  }
}

/* Paragraph */
@keyframes para {
0%{
  opacity: 0;
}
45%{
  opacity:0;
}
85%{
  opacity: 1;
}

}

@keyframes social {
  0%{
    transform: translate(0, -1px);
  }
  30%{
    transform: translate(0, -4px);
  }
  85%{
    transform: translate(0, -6px);
  }
}
@keyframes scale {
  0%{
    
  }
  30%{
  
  }
  85%{
    transform: scale(1.07);
  }
}
