:root {
    --primary-color: #043333;
    --color:#B9E3C6;
    --dark-color: #05344F;
    --dif-color: #ee6c4d;
    --light-color: #F7FFF7;
    --danger-color: #dc3545;
    --success-color: #28a745;
  }



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Andale Mono", monospace;
    font-size: 1.1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    width: 100%;
  }


/* Utilities */
.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
    }
.wrapper{
  padding: 2rem 12rem;
}

.large {
  font-size: 2.7rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}


  /* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.493);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blue-overlay {
  background-color: rgba(18, 64, 99, 0.542);
  position: absolute;
  height: 100%;
  width: 100%;

}

.homepage {
  max-width: 100%;
  margin: auto;
  overflow: hidden;

}
.home-image{
  margin: 0;
  padding: 0;
  position: relative;
  background: url('../public/background.jpg') no-repeat center bottom/cover;
  width: 100%;
  height: 100vh;
  padding: 0rem 12rem;

  }

/* NavBar */

.navbar {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0.1rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
  opacity: 0.95;
}

.nav-item {
  display: flex;
}

.nav-link a {
  color:#ffffff;
  padding: 0.55rem;
  margin: 0 0.25rem;
}

.nav-link a:hover {
  color:#f48c06;
}

/* Logo */

.logo{
  font-size: 1.2rem;
  line-height: 80px;
}
.logo a {
  color: #d6cbcb;
}
.logo a:hover {
  color: #f48c06;
}
.logoimg{
  margin-top: 16px;
  width: 10rem;
  cursor: pointer;
}

.ricon{
  padding-top: 1px;
  width: rem;
}

/* Footer */

.footer{
  border-top: 1px solid #0e0d0d;
  padding: 2rem 10rem;
  background-color: black;
  text-align: center;
  color:#a89b9b;
}

.footer-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.footer-email{
  font-size: 1rem;
}
.email-footer{
  padding: 0.8rem;
}
.email-footer:hover{
  color: #f48c06;
}

.footer-icons{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-gap:0.1rem;
  font-size: 1.3rem;
  cursor: pointer;
}
.footer-link {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding-left: 8rem;
  padding-right: 8rem;
  justify-items: center;
  align-content: center;
}
.footer-icons p{
  font-size: 1rem;
}

.copyright{
  justify-items: center;
  align-content: center;
  font-size: 0.6rem;
}

/* Home */


.home-inner{
  color: #fff;
  height: 100%;
  width: 50%;
  margin: auto;
  display: flex;
  letter-spacing: 0.2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: text 1s 1;
  -webkit-animation: text 1s 1;
}
.paragraph-2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  letter-spacing: 3px;
  word-spacing: 2px;
  animation: para 3s 1;
  -webkit-animation: para 3s 1;
}

.work-button{
  font-family: "Andale Mono", monospace;
  letter-spacing: 5px; 
  align-items: center;
  font-size: 1.1rem;
  justify-content: center;
  background-color: transparent;
  color: #f48c06;
  align-items: center;
  padding: 0.4rem 2rem;
  margin-top: 1.23rem;
  border: 3px solid #f7f7f7;
  border-radius: 4px;
  box-shadow: 0 0 1px #757f85b3;
  cursor: pointer;
}

.work-button:hover{
  color: #f7f7f7;
  border: 3px solid #f48c06;
  box-shadow: 0 0 1px #757f85b3;
}

.font-icons{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:2rem;
  font-size: 2rem;
  padding: 2rem;
  cursor: pointer;
}
/* Animation */


@keyframes text {
  0%{
    color: black;
    margin-bottom: -30px;;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -30px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -30px;
  }
}

@keyframes para {
0%{
  opacity: 0;
}
45%{
  opacity:0;
}
85%{
  opacity: 1;
}

}


/* Projects */

.project-inner{
  padding: 10rem 15rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:2rem;
}
.project-box{
  background-color: #f7f7f7;
  padding: 7rem 2rem;
  border-radius: 1.4rem;
  box-shadow: 3px 3px 3px 3px rgb(27, 27, 37);
}
/* About */



/* Contact */