:root {
    --primary-color: #f48c06;
    --color:#B9E3C6;
    --dark-color: #05344F;
    --dif-color: #ee6c4d;
    --light-color: #F7FFF7;
    --danger-color: #dc3545;
    --success-color: #28a745;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Andale Mono", monospace;
    font-size: 1.1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    width: 100%;
  }


/* Utilities */
.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
    }
.wrapper{
  padding: 2rem 12rem;
}

.large {
  font-size: 2.7rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}


  /* Overlay */
.dark-overlay {
  background-color: rgba(59, 36, 16, 0.205);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.homepage {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}
.home-image{
  margin: 0;
  padding: 0;
  position: relative;
  background: url('../public/background.jpg') no-repeat center bottom/cover;
  width: 100%;
  height: 100vh;
  padding: 0rem 12rem;
  
  }

/* NavBar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 0.1rem 2rem;
  z-index: 1;
  width: 100%;
  margin-bottom: 1rem;
  opacity: 0.95;
}

/* Logo */

.logo{
  font-size: 1.2rem;
  line-height: 80px;
}
.logo a {
  color: #d6cbcb;
}
.logo a:hover {
  color: var(--primary-color);
}
.logoimg{
  margin-top: 16px;
  width: 10rem;
  cursor: pointer;
}

.ricon{
  padding-top: 1px;
  width: rem;
}

/* Footer */

.footer{
  border-top: 1px solid #0e0d0d;
  padding: 2rem 10rem;
  background-color: black;
  text-align: center;
  color:#757575;
}

.footer-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.footer-email{
  font-size: 1rem;
}
.email-footer{
  padding: 0.8rem;
}
.email-footer:hover{
  color: var(--primary-color);
  
}

.footer-icons{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-gap:0.1rem;
  font-size: 1.3rem;
  cursor: pointer;
}
.footer-link {
  color: #d6cbcb;
  display: flex;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;

}

.footer-link a{
  color: #d6cbcb;
}
.footer-link a:hover{
  animation: social 1s 1;
  color: var(--primary-color);
}

.footer-icons p{
  font-size: 1rem;
}

.copyright{
  justify-items: center;
  align-content: center;
  padding: 0.8rem;
  padding: 1rem;
}
.copyright p {
  font-size: .7rem;
}

/* Home */


.home-inner{
  color: #fff;
  height: 110%;
  width: 50%;
  margin: auto;
  display: flex;
  letter-spacing: 0.2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: text 1s 1;
  -webkit-animation: para 2s 1;
}
.paragraph-2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  letter-spacing: 3px;
  word-spacing: 2px;
  animation: para 2s 1;
  -webkit-animation: para 3s 1;
}

.work-button{
  font-family: "Andale Mono", monospace;
  letter-spacing: 5px; 
  align-items: center;
  font-size: 1.1rem;
  justify-content: center;
  background-color: transparent;
  color: var(--primary-color);
  align-items: center;
  padding: 0.4rem 2rem;
  margin-top: 1.23rem;
  border: 3px solid #f7f7f7;
  border-radius: 4px;
  box-shadow: 0 0 1px #757f85b3;
  cursor: pointer;
}

.work-button:hover{
  animation: fade-button 1s 1;
  color: #f7f7f7;
  border: 3px solid  var(--primary-color);
  box-shadow: 0 0 1px #757f85b3;

}

.font-icons {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:2rem;
  font-size: 2rem;
  padding: 2rem;
  cursor: pointer;
}
.font-icons a{
  color: #f8f0f0;
}
.font-icons a:hover{
  animation: social 1s 1;
  color: var(--primary-color);
}




/* Projects */

.project-inner{
  padding-right: 10rem;
  padding-left: 10rem;
  padding-top: 12rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 3rem;
  animation: para 2s 1;
  
}

.project-box:hover{
  animation: scale 1.2s 1;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  
  
}

.project-box{
  background-color: #5a5656c2;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  cursor: pointer;
}

.project-img1 {
  background: url('../public/faq\ 2.PNG') no-repeat center bottom/cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  display: block;
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-bottom: 1px solid black;
}
.project-img2{
  background: url('../public/gitfinder1.PNG') no-repeat center bottom/cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  display: block;
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-bottom: 1px solid black;
}
.project-img3{
  background: url('../public/demetriss.PNG') no-repeat center bottom/cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  display: block;
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-bottom: 1px solid black;
}

.project-title{
  border-left: 3px solid  var(--primary-color);
  color: #d6cbcb;
  text-align: center;
  font-size: 1rem;
  margin: 1rem 20%;
}

.project-description{
  padding: 0.3rem 2rem;
  color: #d6cbcb;
  font-size: 0.8rem;
}

.project-technologies{
  font-weight: bold;
  font-size: 0.8rem;
  padding: 1rem 2rem;
  color: var(--primary-color);
}
/* LINK */

.project-link{
  display: flex;
  gap: 2rem;
  
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: initial;
  float:bottom;
}

.project-link a{
  display: flex;
  color: #d6cbcb;
  font-size: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
  
}
.project-link a:hover{
  color: var(--primary-color);
  animation: social 1s 1;
}


.project-link2{
  display: flex;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  float:bottom;

}
.project-link2 a{
  padding: 1rem;
  color: #d6cbcb;
  font-size: 2rem;
  display: flex;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.project-link2 a:hover{
  color: var(--primary-color);
  animation: social 1s 1;
}


.space, .space-about{
  padding:0rem 0rem;
  background-color: black ;
}



/* About */
.about-inner{
  margin: 15% 10%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap:1rem;
  
}

.language h1{
  color: #d6cbcb;
  font-size: 3rem;
}
.language h3 {
  color: var(--primary-color);
  font-size: 1.8rem;
  padding: 10px 0;
}
.language p{
  color: #d6cbcb;
  font-size: 1.3rem;
}

.skills{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.skills-info{
  justify-content: center;
  align-items: center;
}
.skills h3{
  padding: 2rem 0;
  color: #d6cbcb;
  text-align: right;
}
.img-about{
  width:75px;
}

.skill-icon{
  display: grid;
  grid-template-rows: repeat(4,1fr);
  justify-content: right;
  align-items: right;
}



/* Animation */

@keyframes text {
  0%{
    color: black;
    margin-bottom: -30px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -30px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -30px;
  }
}


@keyframes fade {
  0%{
    color: #f7f7f7;
  }

  85%{
    color: var(--primary-color);
  }
}

/* Paragraph */
@keyframes fade-button {
  0%{
    color:  var(--primary-color);
    border: 3px solid #f7f7f7;
    box-shadow: 0 0 1px #757f85b3;
  }

  85%{
    color: #f7f7f7;
    border: 3px solid  var(--primary-color);
    box-shadow: 0 0 1px #757f85b3;
  }
}

/* Paragraph */
@keyframes para {
0%{
  opacity: 0;
}
45%{
  opacity:0;
}
85%{
  opacity: 1;
}

}

@keyframes social {
  0%{
    transform: translate(0, -1px);
  }
  30%{
    transform: translate(0, -4px);
  }
  85%{
    transform: translate(0, -6px);
  }
}
@keyframes scale {
  0%{
    
  }
  30%{
  
  }
  85%{
    transform: scale(1.07);
  }
}


/* About */



/* Media */

@media (max-width: 1150px){

  /* Footer */
  .footer-container{
    grid-template-columns: repeat(1,1fr);
    grid-gap: 3rem;
  }

  /* Work */
  .project-inner{
    grid-template-columns: repeat(1,1fr);
    grid-gap: 2rem;
    padding: auto;
  }
  .space {
    padding: 35rem 0rem;
  }
  .space-about{
    padding: 3rem 0rem;
  }

  /* Footer */
}
@media (max-width: 900px){

    .logo{
      display: none;
    }
    /* Navbar */
    .navbar{
      position: absolute;
      padding: inherit;

    }
    /* Footer */

    .footer{
    padding: 7rem 2rem;
    }
    /* Work */
    .project-inner{
      grid-template-columns: repeat(1,1fr);
      grid-gap: 2rem;
      padding: 7rem 2rem;
    }
    .space{
     padding: 35rem 0rem;
    }
    .about-inner{
      margin-top: 30%;
      grid-template-columns: repeat(1,1fr);
      grid-gap:5rem;
    }
    .space-about{
      padding: 7rem 0rem;
    }

}
@media (min-width: 1400px){
  .project-inner{
    grid-gap:6rem;
  }

}

@media (max-width: 310px){
  .space{
    padding: 40rem 0rem;
  }

}
