
/* Skills */
.skill-image{
    background: url('../public/background5.png') no-repeat center top/cover;
    width: 100%;
    height: 100vh;
    }
  

.skill-inner{
    margin: auto;
    margin-left: 10rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap:3rem;
  }
  .language{
    padding-top: 15rem;
  }
  
  .language h1{
    color: var(--text-color);
    font-size: calc(25px + 3vw);
    font-weight: bold;

  }
  .language h3 {
    color: var(--dif-color);
    font-size: calc(15px + 1vw);
    padding: 10px 0;
  }
  .language p{
    color: var(--text-color);
    font-size: calc(10px + 1vw);
    font-weight: 300;

  }
  
  .skills{
    margin-top: 15rem;

  }
  .skill-group{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .skills-info{
    justify-content: center;
    align-items: center;
    font-size: calc(15px + 1vw);
    animation: para 4s 1;
    animation-duration: 2900ms;
    
  
  }
  .skills-info p{
    font-size: calc(10px + 1vw);
    color: var(--text-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vw;
    margin-top: 3rem;
    

  }
  .img-about{
    width:calc(40px + 3vw);
    transition-duration: 300ms;
  }
  
  .skill-icon{
    display: grid;
    grid-template-rows: repeat(1fr);
    position: relative;
    left: 1rem;
    animation: para 4s 1;
    animation-duration: 2600ms;
    transition-duration: 400ms;
  }
  
  .skill-icon:nth-child(2){
    transition-duration: 1000ms;
  }
  .skill-icon:nth-child(4){
    transition-duration: 1000ms;
  }
  
  .img-about:nth-child(1):hover{
    transform: rotate(61deg)
  }
  .img-about:nth-child(2):hover{
    transform: rotate(-360deg)
  }
  .img-about:nth-child(3):hover{
    transform: rotate(90deg)
  }
  .img-about:nth-child(4):hover{
    transform: rotate(-360deg)
  }
  .large-skill{
    animation: para 2s 1;
    animation-duration: 1200ms;
  }
  .paragraph-skill{
    animation: para 3s 1;
    animation-duration: 2300ms;
  }
  


@media (max-width: 1024px){

  .skill-inner{
    grid-template-columns: repeat(1,1fr);
    line-height: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .skill-image{
   height: auto;
  }
  .skills{
    margin-top: 5rem;
  }
  .skill-group{
    margin-bottom: 2rem;
  }
  .skills-info p{
    margin-top: 1rem;
  }
}
  

@media (max-width: 768px){

  .skills-info{
    line-height: 1rem;
  }


}
@media (min-width: 480px){

  .skills-info{
    line-height: 1rem;
  }
  
}