.home-text{
    color: #fff;
    height: 1%;
  
    margin: auto;
    display: flex;
    letter-spacing: 0.1em;
    flex-direction: column;
    text-align: left;
    animation: text 1s 1;
    -webkit-animation: para 2s 1;
  }
  
  .big-logo{
    width: 10rem;
    height: 50rem;
  }
  .paragraph-2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    word-spacing: 2px;
    animation: para 2s 1;
    -webkit-animation: para 3s 1;
  }
  
  .work-button{
    font-family: "Andale Mono", monospace;
    letter-spacing: 5px; 
    align-items: center;
    font-size: 1.1rem;
    background-color: transparent;
    color: var(--primary-color);
    align-items: center;
    padding: 0.4rem 2rem;
    margin-top: 1.23rem;
    border: 3px solid #f7f7f7;
    border-radius: 4px;
    box-shadow: 0 0 1px #757f85b3;
    cursor: pointer;
  }
  
  .work-button:hover{
    animation: fade-button 1s 1;
    color: #f7f7f7;
    border: 3px solid  var(--primary-color);
    box-shadow: 0 0 1px #757f85b3;
  
  }




  
@media (max-width: 1150px){

  /* Work */
  .project-inner{
    display: flex;
    flex-direction: row;
  }
  

  .home-inner{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .card:focus-within~.card, .card:hover~.card {
    transform: translateX(10px);
  }
  .card:hover {
    transform: translateY(-1rem);
  }
  .card:not(:first-child) {
    margin-left: -10px;
  }
  
}
@media (max-width: 900px){

    .logo{
      display: none;
    }
    /* Navbar */
    .navbar{
  
      padding: inherit;
    }
    /* Work */
    .project-inner{
      flex-flow: row;
    }


    .about-inner{
      padding-top: 25%;
      grid-template-columns: repeat(1,1fr);
      grid-gap:5rem;
    }

}
@media (min-width: 1600px){
    .project-inner{
      flex-flow: row;
    }
}